pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "AC_LKP_DataSetProcessMasterTbl",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "AC_SV_SetMonthValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select distinct slipdataset from [MetaDataEngine].[SLIPMetaData] where active = 'Y' and rerun = 'N'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SLIPAzureSQLMetaDataDB",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "AC_LKP_DataSetProcessMasterTbl",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "vFullPath",
								"value": {
									"value": "@item().slipdataset",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_SLIPAzureSQLMetaDataDB",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "AC_SV_SetQtrValue",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vQtr",
					"value": {
						"value": "@if(equals(formatDateTime(utcnow(),'MM'),'01'),'Q1',\n if(equals(formatDateTime(utcnow(),'MM'),'02'),'Q1',\n if(equals(formatDateTime(utcnow(),'MM'),'03'),'Q1',\n if(equals(formatDateTime(utcnow(),'MM'),'04'),'Q2',\n if(equals(formatDateTime(utcnow(),'MM'),'05'),'Q2',\n if(equals(formatDateTime(utcnow(),'MM'),'06'),'Q2',\n if(equals(formatDateTime(utcnow(),'MM'),'07'),'Q3',\n if(equals(formatDateTime(utcnow(),'MM'),'08'),'Q3',\n if(equals(formatDateTime(utcnow(),'MM'),'09'),'Q3',\n if(equals(formatDateTime(utcnow(),'MM'),'10'),'Q4',\n if(equals(formatDateTime(utcnow(),'MM'),'11'),'Q4',\n if(equals(formatDateTime(utcnow(),'MM'),'12'),'Q4','NA'))))))))))))\n\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "AC_SV_SetYearValue",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "AC_SV_SetQtrValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vYear",
					"value": {
						"value": "@formatDateTime(utcnow(),'yyyy')\n\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "AC_SV_SetMonthValue",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "AC_SV_SetYearValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vMonth",
					"value": {
						"value": "@formatDateTime(utcnow(),'MMM')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"vFullPath": {
				"type": "String"
			},
			"vYear": {
				"type": "String"
			},
			"vMonth": {
				"type": "String"
			},
			"vQtr": {
				"type": "String"
			}
		},
		"annotations": []
	}
}