pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "AC_SV_SetMonthValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from [MetaDataEngine].[SLIPMetaData]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SLIPAzureSQLMetaDataDB",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedText1",
						"type": "DatasetReference",
						"parameters": {
							"vEnv": {
								"value": "@concat(toLower(pipeline().globalParameters.vGlobalEnv),'-',pipeline().globalParameters.vGobalLakeName)\n\n",
								"type": "Expression"
							},
							"vPath": {
								"value": "@concat(pipeline().globalParameters.vGlobalBronze,'/slipdataset/',variables('vYear'),variables('vQtr'),'/',variables('vMonth'))",
								"type": "Expression"
							},
							"vDataSet": {
								"value": "SLIPMetaData",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "AC_SV_SetQtrValue",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vQtr",
					"value": {
						"value": "@if(equals(formatDateTime(utcnow(),'MM'),'01'),'Q1',\n if(equals(formatDateTime(utcnow(),'MM'),'02'),'Q1',\n if(equals(formatDateTime(utcnow(),'MM'),'03'),'Q1',\n if(equals(formatDateTime(utcnow(),'MM'),'04'),'Q2',\n if(equals(formatDateTime(utcnow(),'MM'),'05'),'Q2',\n if(equals(formatDateTime(utcnow(),'MM'),'06'),'Q2',\n if(equals(formatDateTime(utcnow(),'MM'),'07'),'Q3',\n if(equals(formatDateTime(utcnow(),'MM'),'08'),'Q3',\n if(equals(formatDateTime(utcnow(),'MM'),'09'),'Q3',\n if(equals(formatDateTime(utcnow(),'MM'),'10'),'Q4',\n if(equals(formatDateTime(utcnow(),'MM'),'11'),'Q4',\n if(equals(formatDateTime(utcnow(),'MM'),'12'),'Q4','NA'))))))))))))\n\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "AC_SV_SetYearValue",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "AC_SV_SetQtrValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vYear",
					"value": {
						"value": "@formatDateTime(utcnow(),'yyyy')\n\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "AC_SV_SetMonthValue",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "AC_SV_SetYearValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vMonth",
					"value": {
						"value": "@formatDateTime(utcnow(),'MMM')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"vQtr": {
				"type": "String"
			},
			"vYear": {
				"type": "String"
			},
			"vMonth": {
				"type": "String"
			}
		},
		"annotations": []
	}
}