pipeline/PL_CH_DML_INSERT_SLIPError.json
{
	"name": "PL_CH_DML_INSERT_SLIPError",
	"properties": {
		"description": "Capture error Trace ",
		"activities": [
			{
				"name": "SV_RemoveSpecial",
				"description": "Remove Special characters if any in the error message",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vErrorMsg",
					"value": {
						"value": "@replace(pipeline().parameters.Para_ErrorMessage,'''','-')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "AC_SP_SLIP_ErrorLog",
				"description": "Log SL ingestion error details and related informations.",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SV_RemoveSpecial",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[MetaDataEngine].[udp_SLIngestionPattern_ErrorLog]",
					"storedProcedureParameters": {
						"Para_ErrorMessage": {
							"value": {
								"value": "@variables('vErrorMsg')",
								"type": "Expression"
							},
							"type": "String"
						},
						"Para_ErrorProgramUnitName": {
							"value": {
								"value": "@pipeline().parameters.Para_ErrorProgramUnitName",
								"type": "Expression"
							},
							"type": "String"
						},
						"Para_ErrorSeverity": {
							"value": {
								"value": "@pipeline().parameters.Para_ErrorSeverity",
								"type": "Expression"
							},
							"type": "String"
						},
						"Para_JobStage": {
							"value": {
								"value": "@pipeline().parameters.Para_JobStage",
								"type": "Expression"
							},
							"type": "String"
						},
						"Para_PipelineRunId": {
							"value": {
								"value": "@pipeline().parameters.Para_PipelineRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ParaTargetEnv": {
							"value": {
								"value": "@pipeline().globalParameters.vGlobalEnv",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"Para_PipelineRunId": {
				"type": "string"
			},
			"Para_JobStage": {
				"type": "string"
			},
			"Para_ErrorSeverity": {
				"type": "string"
			},
			"Para_ErrorProgramUnitName": {
				"type": "string"
			},
			"Para_ErrorMessage": {
				"type": "string"
			}
		},
		"variables": {
			"vErrorMsg": {
				"type": "String"
			}
		},
		"folder": {
			"name": "PL_SLIngestionPattern/SLIPMetaDataEngine"
		},
		"annotations": []
	}
}