pipeline/PL_CH_DML_INSERT_SLIPError.json
{
	"name": "PL_CH_DML_INSERT_SLIPError",
	"properties": {
		"description": "Capture error Trace ",
		"activities": [
			{
				"name": "AC_SP_udp_PolarisDW_ErrorLog",
				"description": "Capture the Error",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "SV_RemoveSpecial",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "Para_PipelineRunId ",
									"type": "String",
									"value": {
										"value": "@pipeline().parameters.Para_PipelineRunId",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "Para_JobStage",
									"type": "String",
									"value": {
										"value": "@pipeline().parameters.Para_JobStage",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "Para_ErrorSeverity",
									"type": "String",
									"value": {
										"value": "@pipeline().parameters.Para_ErrorSeverity",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "Para_ErrorProgramUnitName",
									"type": "String",
									"value": {
										"value": "@pipeline().parameters.Para_ErrorProgramUnitName",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "Para_ErrorMessage",
									"type": "String",
									"value": {
										"value": "@pipeline().parameters.Para_ErrorMessage",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "ParaTargetEnv",
									"type": "String",
									"value": {
										"value": "@pipeline().globalParameters.vGlobalEnv\n",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "ParaMetaSchema",
									"type": "String",
									"value": {
										"value": "@pipeline().globalParameters.vGlobalMetaEngine",
										"type": "Expression"
									},
									"direction": "Input"
								}
							],
							"type": "Query",
							"text": {
								"value": "@concat('CALL ',pipeline().globalParameters.vGlobalEnv,'_',pipeline().globalParameters.vGlobalMetaEngine,'.udp_PolarisDW_ErrorLog(',\n'''',\npipeline().parameters.Para_PipelineRunId,\n''',',\n'''',\npipeline().parameters.Para_JobStage,\n''',',\n'''',\npipeline().parameters.Para_ErrorSeverity,\n''',',\n'''',\npipeline().parameters.Para_ErrorProgramUnitName,\n''',',\n'''',\nvariables('vErrorMsg'),\n''',',\n'''',\npipeline().globalParameters.vGlobalEnv,\n''',',\n'''',\npipeline().globalParameters.vGlobalMetaEngine,\n'''',\n');')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "SV_RemoveSpecial",
				"description": "Remove Special characters if any in the error message",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vErrorMsg",
					"value": {
						"value": "@replace(pipeline().parameters.Para_ErrorMessage,'''','-')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"Para_PipelineRunId": {
				"type": "string"
			},
			"Para_JobStage": {
				"type": "string"
			},
			"Para_ErrorSeverity": {
				"type": "string"
			},
			"Para_ErrorProgramUnitName": {
				"type": "string"
			},
			"Para_ErrorMessage": {
				"type": "string"
			}
		},
		"variables": {
			"vErrorMsg": {
				"type": "String"
			}
		},
		"folder": {
			"name": "PL_SLIngestionPattern/SLIPMetaDataEngine"
		},
		"annotations": []
	}
}