pipeline/PL_MR_MoveToSLlake_Enriched_STEP5.json
{
	"name": "PL_MR_MoveToSLlake_Enriched_STEP5",
	"properties": {
		"activities": [
			{
				"name": "AC_FEA_EnrichSLIPDataSets",
				"description": "For every configured SLIP data set.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "AC_SCR_SLIPMetaDBStructure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('AC_SCR_SLIPMetaDBStructure').output.resultSets[0].rows\n",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "AC_PL_ErrorTrace",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "AC_DF_SLIPEnriched_SCD2",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_CH_DML_INSERT_SLIPError",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Para_PipelineRunId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"Para_JobStage": {
										"value": "Gold Stage Creation - SCD",
										"type": "Expression"
									},
									"Para_ErrorSeverity": {
										"value": "@concat(' Critical - Dataset - ',item().DataSetName)",
										"type": "Expression"
									},
									"Para_ErrorProgramUnitName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"Para_ErrorMessage": {
										"value": "@activity('AC_DF_SLIPEnriched_SCD2').Error.message",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "AC_DF_SLIPEnriched_SCD2",
							"description": "Maintain One history record and One active record",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "DF_CH_MoveToSLlake_Enriched_STEP6",
									"type": "DataFlowReference",
									"parameters": {
										"PrimaryKey": {
											"value": "'@{item().DataSetPrimaryKey}'",
											"type": "Expression"
										},
										"Columns": {
											"value": "'@{item().DataSetHistoryItems}'",
											"type": "Expression"
										},
										"vSinkFile": {
											"value": "'@{concat(replace(item().DataSetName,'.','_'),'_ENRICHED.csv')}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"CuratedInput": {
											"vEnv": {
												"value": "@concat(toLower(pipeline().globalParameters.vGlobalEnv),'-',pipeline().globalParameters.vGobalLakeName)",
												"type": "Expression"
											},
											"vPath": {
												"value": "@concat(pipeline().globalParameters.vGlobalSilver,'/',item().DataSetSource,'/',variables('vYear'),variables('vQtr'),'/',variables('vMonth'),'/',variables('vDate'),'/',item().DataSetName,'/')",
												"type": "Expression"
											},
											"vDataSet": {
												"value": "@concat(replace(item().DataSetName,'.','_'),'_CURATED.csv')",
												"type": "Expression"
											}
										},
										"ExistingDimensionTable": {
											"vEnv": {
												"value": "@concat(toLower(pipeline().globalParameters.vGlobalEnv),'-',pipeline().globalParameters.vGobalLakeName)",
												"type": "Expression"
											},
											"vPath": {
												"value": "@concat(pipeline().globalParameters.vGlobalGold,'/',item().DataSetSource,'/',variables('vYear'),variables('vQtr'),'/',variables('vMonth'),'/',variables('vDate'),'/',item().DataSetName,'/')",
												"type": "Expression"
											},
											"vDataSet": {
												"value": "@concat(replace(item().DataSetName,'.','_'),'_ENRICHED.csv')",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 32,
									"computeType": "MemoryOptimized"
								},
								"traceLevel": "Coarse"
							}
						},
						{
							"name": "AC_PL_AuditTrace",
							"description": "Capture the audit events",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "AC_DF_SLIPEnriched_SCD2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_CH_DML_INSERT_SLIPAudit",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Para_PipelineRunId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"Para_DatasetId": {
										"value": "7777",
										"type": "Expression"
									},
									"Para_ProgramUnitName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"Para_JobStatus": {
										"value": "Succeeded",
										"type": "Expression"
									},
									"Para_ProcessedRecordCount": {
										"value": "@activity('AC_DF_SLIPEnriched_SCD2').output.runStatus.metrics.DimensionTableSink.rowsWritten",
										"type": "Expression"
									},
									"Para_RejectedRecordCount": {
										"value": "0",
										"type": "Expression"
									},
									"Para_Comments": {
										"value": "@concat(' Sucessful completion - Dataset - ',item().DataSetName)",
										"type": "Expression"
									},
									"Para_SizeOfDataRead": {
										"value": "NULL",
										"type": "Expression"
									},
									"Para_SizeOfDataWritten": {
										"value": "NULL",
										"type": "Expression"
									},
									"Para_Duration": {
										"value": "@activity('AC_DF_SLIPEnriched_SCD2').Duration",
										"type": "Expression"
									},
									"Para_JobStage": {
										"value": "Gold Stage Creation - SCD",
										"type": "Expression"
									},
									"Para_TargetEnv": {
										"value": "@pipeline().globalParameters.vGlobalEnv",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "AC_IF_NoEnrichedRecordsFound",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "AC_SCR_SLIPMetaDBStructure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('AC_SCR_SLIPMetaDBStructure').output.resultSetCount,0)\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "AC_PL_NoEnrichedRecordsFound",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_CH_DML_INSERT_SLIPAudit",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Para_PipelineRunId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"Para_ProgramUnitName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"Para_JobStatus": {
										"value": "Succeeded",
										"type": "Expression"
									},
									"Para_Comments": {
										"value": "@concat('STEP 4 AC_SCR_SLIPMetaDBStructure - No qualified curated record set to enrich')",
										"type": "Expression"
									},
									"Para_JobStage": {
										"value": "Gold Stage",
										"type": "Expression"
									},
									"Para_TargetEnv": {
										"value": "@pipeline().globalParameters.vGlobalEnv",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "AC_SCR_SLIPMetaDBStructure",
				"description": "Pull configured SLIP Ingestion data sets to enrich aka SCD implementation.",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "AC_SV_SetDateValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_sql",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "SELECT DataSetSource, DataSetName,DataSetQuery,DataSetPrimaryKey,DataSetHistoryItems\nFROM [MetaDataEngine].[DataSetProcessMasterTbl]\nWHERE DataSetActiveFlg = 'Y' AND DataSetReRun = 'N' AND DataSetHistoryFlag = 'Y' AND DataSetPreviousRunStatus = 'CUR SUCCESS'"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "AC_SV_SetQtrValue",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vQtr",
					"value": {
						"value": "@if(equals(formatDateTime(utcnow(),'MM'),'01'),'Q1',\n if(equals(formatDateTime(utcnow(),'MM'),'02'),'Q1',\n if(equals(formatDateTime(utcnow(),'MM'),'03'),'Q1',\n if(equals(formatDateTime(utcnow(),'MM'),'04'),'Q2',\n if(equals(formatDateTime(utcnow(),'MM'),'05'),'Q2',\n if(equals(formatDateTime(utcnow(),'MM'),'06'),'Q2',\n if(equals(formatDateTime(utcnow(),'MM'),'07'),'Q3',\n if(equals(formatDateTime(utcnow(),'MM'),'08'),'Q3',\n if(equals(formatDateTime(utcnow(),'MM'),'09'),'Q3',\n if(equals(formatDateTime(utcnow(),'MM'),'10'),'Q4',\n if(equals(formatDateTime(utcnow(),'MM'),'11'),'Q4',\n if(equals(formatDateTime(utcnow(),'MM'),'12'),'Q4','NA'))))))))))))\n\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "AC_SV_SetYearValue",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "AC_SV_SetQtrValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vYear",
					"value": {
						"value": "@formatDateTime(utcnow(),'yyyy')\n\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "AC_SV_SetMonthValue",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "AC_SV_SetYearValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vMonth",
					"value": {
						"value": "@formatDateTime(utcnow(),'MMM')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "AC_SV_SetDateValue",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "AC_SV_SetMonthValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vDate",
					"value": {
						"value": "@formatDateTime(utcnow(),'dd')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"vErrorMsg": {
				"type": "String"
			},
			"vOutputMsg": {
				"type": "String"
			},
			"vYear": {
				"type": "String"
			},
			"vMonth": {
				"type": "String"
			},
			"vQtr": {
				"type": "String"
			},
			"vDate": {
				"type": "String"
			},
			"vTimeStamp": {
				"type": "String"
			}
		},
		"folder": {
			"name": "PL_SLIngestionPattern/SLIPIngestionLayers"
		},
		"annotations": []
	}
}