pipeline/PL_MR_CreateSLIPMetaData_STEP1.json
{
	"name": "PL_MR_CreateSLIPMetaData_STEP1",
	"properties": {
		"activities": [
			{
				"name": "AC_CPY_BLOB2AzureSQLDB",
				"description": "Move the SLIP Meta data from excel to AzureSQL Meta Data Engine",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "DROP TABLE IF EXISTS [MetaDataEngine].[SLIPMetaData]",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SLIPMetaDataConfigExcel",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SLIPAzureSQLMetaDataDB",
						"type": "DatasetReference",
						"parameters": {
							"RawSLDS_Schema": "MetaDataEngine",
							"RawSLDS_Table": "SLIPMetaData"
						}
					}
				]
			},
			{
				"name": "AC_PL_AuditTrace",
				"description": "Call  SLIPAudit Pipeline to record copy audit.",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "AC_CPY_BLOB2AzureSQLDB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_CH_DML_INSERT_SLIPAudit",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Para_PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"Para_DatasetId": 7777,
						"Para_ProgramUnitName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"Para_JobStatus": {
							"value": "Succeeded",
							"type": "Expression"
						},
						"Para_ProcessedRecordCount": {
							"value": "@activity('AC_CPY_BLOB2AzureSQLDB').output.rowsCopied",
							"type": "Expression"
						},
						"Para_RejectedRecordCount": {
							"value": "0",
							"type": "Expression"
						},
						"Para_Comments": {
							"value": "@concat( 'AC_CPY_BLOB2AzureSQLDB Total Billable Duration..',activity('AC_CPY_BLOB2AzureSQLDB').output.billingReference.totalBillableDuration[0].duration)",
							"type": "Expression"
						},
						"Para_SizeOfDataRead": {
							"value": "@activity('AC_CPY_BLOB2AzureSQLDB').output.dataRead",
							"type": "Expression"
						},
						"Para_SizeOfDataWritten": {
							"value": "@activity('AC_CPY_BLOB2AzureSQLDB').output.dataWritten",
							"type": "Expression"
						},
						"Para_Duration": {
							"value": "@concat('Actual Copy Duration is  ',activity('AC_CPY_BLOB2AzureSQLDB').output.copyDuration)\n",
							"type": "Expression"
						},
						"Para_JobStage": {
							"value": "MetaData Stage Creation",
							"type": "Expression"
						},
						"Para_TargetEnv": {
							"value": "@pipeline().globalParameters.vGlobalEnv",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "AC_PL_ErrorTrace",
				"description": "Capture SLIP error messages",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "AC_CPY_BLOB2AzureSQLDB",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_CH_DML_INSERT_SLIPError",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Para_PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"Para_JobStage": {
							"value": "MetaData Stage Creation",
							"type": "Expression"
						},
						"Para_ErrorSeverity": {
							"value": "Critical",
							"type": "Expression"
						},
						"Para_ErrorProgramUnitName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"Para_ErrorMessage": {
							"value": "@concat(' Activity AC_CPY_BLOB2AzureSQLDB Failed for ',activity('AC_CPY_BLOB2AzureSQLDB').Error.message)",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "AC_SP_SLIP_CreateMetaDataMaster",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "AC_PL_AuditTrace",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[MetaDataEngine].[udp_SLSourceDS_MetaDataCreation]",
					"storedProcedureParameters": {
						"Para_ProgramUnitName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							}
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "AC_PL_AuditTrace_MetaDataCreation",
				"description": "Call  SLIPAudit Pipeline to record copy audit.",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "AC_SP_SLIP_CreateMetaDataMaster",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_CH_DML_INSERT_SLIPAudit",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Para_PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"Para_DatasetId": 7777,
						"Para_ProgramUnitName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"Para_JobStatus": {
							"value": "Succeeded",
							"type": "Expression"
						},
						"Para_ProcessedRecordCount": {
							"value": "@activity('AC_SP_SLIP_CreateMetaDataMaster').output.rowsCopied\n\n",
							"type": "Expression"
						},
						"Para_RejectedRecordCount": {
							"value": "0",
							"type": "Expression"
						},
						"Para_Comments": {
							"value": "@concat( 'Total Billable Master Data Record Creation Duration..',activity('AC_SP_SLIP_CreateMetaDataMaster').output.billingReference.totalBillableDuration[0].duration)",
							"type": "Expression"
						},
						"Para_SizeOfDataRead": {
							"value": "@activity('AC_SP_SLIP_CreateMetaDataMaster').output.dataRead",
							"type": "Expression"
						},
						"Para_SizeOfDataWritten": {
							"value": "@activity('AC_SP_SLIP_CreateMetaDataMaster').output.dataWritten",
							"type": "Expression"
						},
						"Para_Duration": {
							"value": "@concat('Actual Record Creation Duration is  ',activity('AC_SP_SLIP_CreateMetaDataMaster').output.copyDuration)\n",
							"type": "Expression"
						},
						"Para_JobStage": {
							"value": "MetaData Master Creation",
							"type": "Expression"
						},
						"Para_TargetEnv": {
							"value": "@pipeline().globalParameters.vGlobalEnv",
							"type": "Expression"
						}
					}
				}
			}
		],
		"folder": {
			"name": "PL_SLIngestionPattern/SLIPMetaDataEngine"
		},
		"annotations": []
	}
}