pipeline/PL_MR_MoveToSLlake_Enriched_STEP4_copy1.json
{
	"name": "PL_MR_MoveToSLlake_Enriched_STEP4_copy1",
	"properties": {
		"activities": [
			{
				"name": "AC_FEA_EnrichSLIPDataSets",
				"description": "For every configured SLIP data set.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "AC_SCR_SLIPMetaDBStructure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('AC_SCR_SLIPMetaDBStructure').output.resultSets[0].rows\n",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "AC_PL_MR_DML_INSERT_DWEnriched_STEP11_DWConfigPkey_copy1",
							"description": "Enriched Pipeline - Step 11 as a child from the DW config primary key",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_CH_MoveToSLlake_Enriched_STEP4",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"PrimaryKey": {
										"value": "@item().DATASETPRIMARYKEY",
										"type": "Expression"
									},
									"ColumnNames": {
										"value": "@item().DATASETDESCRIPTION",
										"type": "Expression"
									},
									"TableName": {
										"value": "@item().TABLE_NAME",
										"type": "Expression"
									},
									"SchemaName": {
										"value": "@item().SCHEMA_NAME",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "AC_PL_MR_DML_INSERT_DWEnriched_STEP11_copy1",
							"description": "Call Enriched Pipeline - Step 11 as a child",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_CH_MoveToSLlake_Enriched_STEP4",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"PrimaryKey": {
										"value": "@activity('AC_QRY_QueryToGetPrimaryKey').output.resultSets[0].rows[0].COLUMN_NAME",
										"type": "Expression"
									},
									"ColumnNames": {
										"value": "@item().DATASETDESCRIPTION",
										"type": "Expression"
									},
									"TableName": {
										"value": "@item().TABLE_NAME",
										"type": "Expression"
									},
									"SchemaName": {
										"value": "@item().SCHEMA_NAME",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "AC_PL_PolarisErrorTrace",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "AC_DF_SLIPEnriched_SCD2",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"waitOnCompletion": true
							}
						},
						{
							"name": "AC_DF_SLIPEnriched_SCD2",
							"description": "Maintain One history record and One active record",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "DF_CH_MoveToSLlake_Enriched_STEP6",
									"type": "DataFlowReference",
									"parameters": {
										"PrimaryKey": {
											"value": "'@{item().DataSetPrimaryKey}'",
											"type": "Expression"
										},
										"Columns": {
											"value": "'@{item().DataSetHistoryItems}'",
											"type": "Expression"
										}
									}
								},
								"compute": {
									"coreCount": 32,
									"computeType": "MemoryOptimized"
								},
								"traceLevel": "Coarse"
							}
						},
						{
							"name": "AC_PL_PolarisAuditInsert",
							"description": "Capture the audit events",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "AC_DF_SLIPEnriched_SCD2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "AC_IF_NoEnrichedRecordsFound",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "AC_SCR_SLIPMetaDBStructure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('AC_SCR_SLIPMetaDBStructure').output.resultSetCount,0)\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "AC_PL_NoEnrichedRecordsFound",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_CH_DML_INSERT_SLIPAudit",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Para_PipelineRunId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"Para_ProgramUnitName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"Para_JobStatus": {
										"value": "Succeeded",
										"type": "Expression"
									},
									"Para_Comments": {
										"value": "@concat('STEP 4 AC_SCR_SLIPMetaDBStructure - No qualified curated record set to enrich')",
										"type": "Expression"
									},
									"Para_JobStage": {
										"value": "Gold Stage",
										"type": "Expression"
									},
									"Para_TargetEnv": {
										"value": "@pipeline().globalParameters.vGlobalEnv",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "AC_SCR_SLIPMetaDBStructure",
				"description": "Pull configured SLIP Ingestion data sets to enrich aka SCD implementation.",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_sql",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "SELECT DataSetSource, DataSetName,DataSetQuery,DataSetPrimaryKey,DataSetHistoryItems\nFROM [MetaDataEngine].[DataSetProcessMasterTbl]\nWHERE DataSetActiveFlg = 'Y' AND DataSetReRun = 'N' AND DataSetHistoryFlag = 'Y' AND DataSetPreviousRunStatus = 'CUR SUCCESS'"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"variables": {
			"vMetaSchemaProcessMstr": {
				"type": "String"
			},
			"vErrorMsg": {
				"type": "String"
			},
			"vOutputMsg": {
				"type": "String"
			}
		},
		"annotations": []
	}
}